$bg-color: black;
$font-color: #000;

body {
  background-color: $bg-color;
  font-family: 'Open Sans', sans-serif;
  color: $font-color;

  .container-full {
    width: 1890px;
    height: 1080px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
  #WABBU{
    font-size: 90px;

  }
  #headerRow{
    padding-bottom: 10px;
  }
  #dateAndTime{
    padding-left: 30px;
  }
  #futuriceLogo{
    height: 100px;
    margin-top: 20px;
    float: right;
    padding-right: 30px;
  }
  .currentDate{
    margin-top: auto;
  }

  h1{
    display: flex;
    justify-content: center;
    font-family: 'Arvo', serif;
    font-size: 3.5em;
    color: #fff;
    margin: 70px 0px;
    text-transform: uppercase;
  }
  h2{
    font-size: 3em;
    font-family: 'Arvo', serif;
    letter-spacing: 0.05em;
    color: #fff;
    background-color: $bg-color;
  }
  p{
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  .ruokala{
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
    padding-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #ttalo{
    p{
      font-size: 4em;
    }
  }
}
